.d-inline-block{
  display: inline-block;

}

.bg-lightgrey{
  background-color: lightgrey;
}

.bg-pink{
  background-color: #f0807f;
}

.bg-lightpink{
  background-color: #ffa07a;
}

.bg-pinegreen{
  background-color: #008a8a;
}

.bg-lightblue{
  background-color: #abdae8;
}
.bg-lightblue-1{
  background-color: #add9e6;
}

.bg-lightgreen{
  background-color:#9eff98;
}

.bg-white{
  background-color: white;
}

.bg-black{
  background-color: black;
}

.bg-green{
  background-color: green;
}

.bg-green-1{
  background-color: #becf67;
}

.w-20 {
  width: 20%;
}
.w-24 {
  width: 24%;
}

.w-24-5 {
  width: 24.5%;
}
.w-40 {
  width: 40%;
}

.w-78{
  width: 78%;
}
.w-100{
  width: 100%;
}


.w-120px{
  width: 120px;
}

.w-230px{
  width: 230px;
}

.h-10px{
  height: 10px;
}

.h-20px{
  height: 20px;
}

.h-30px {
  height: 30px;
}

.h-50px {
  height: 50px;
}


.h-80px{
  height: 80px;
}

.h-140px{
  height: 140px;
}

.h-240px{
  height: 240px;
}

.h-300px{
  height: 300px;
}

.h-600px {
  height: 600px;
}


.justify-between{
  display: flex;
  justify-content: space-between;
}

.justify-end{
  display: flex;
  justify-content: flex-end;
}

.column-end{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#up-group {
  margin: 20px 0px 20px 0px;
}

.m-bot-10px{
  margin-bottom: 10px;
}
.m-bot-20px{
  margin-bottom: 20px;
}
.m-bot-30px{
  margin-bottom: 30px;
}

.padd-t160px{
  padding-top: 160px;
  box-sizing: border-box;
}

.m-bot-40px{
  margin-bottom: 40px;
}
