.bg-img-detail {
  background-image: url(../image/Blue-Wallpaper.jpg);
  background-size: contain;
  /* background-repeat: repeat-y; */

}

.img-detail{
   width :300px;
   height :300px;
   border-radius: 100%;
}

.h-1000px {
  height: 1000px;
}
.font-lobster{
  font-family: 'Lobster',cursive;
}
.font-Roboto{
  font-family: 'Roboto', sans-serif;
}

.w-400px{
  width: 400px;
}
