<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Danh sách yêu cầu</h1>
    <table border="1px">
      <thead>
        <th>STT</th>
        <th>Đối tác</th>
        <th>Người dùng</th>
        <th>Thời gian yêu cầu</th>
        <th>Chấp thuận</th>
        <th>Bỏ qua</th>
        <th>Xóa bớt yêu cầu spam</th>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{order.service.name}} </td>
          <td>{{order.user.fullname}} </td>
          <td>{{order.time_ordered}} </td>
          <td><a href="{{ url_for("request_accepted", id_order = order.id, accepted = "True" )}}">Phê duyệt yêu cầu</a></td>
          <td><a href="{{ url_for("request_accepted", id_order = order.id, accepted = "False" )}}">Bỏ qua yêu cầu</a></td>
          <td><a href="{{ url_for("request_accepted", id_order = order.id, accepted = "Spam" )}}">Xóa</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </body>
</html>
