<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mùa đông không lạnh</title>
    {% include "metadata.html" %}
    <link rel="stylesheet" href="../static/css/detail.css">
  </head>
  <body class = "container">
    <div class="h-200px font-lobster bg-primary"> <h3 class= "text-light font-weight-bold text-center" > Thông tin chi tiết</h3> </div>
    <div class="h-1000px  bg-img-detail  d-flex flex-column align-items-center pt-5">
      <img class = "img-detail" src= "{{ service.image }}" alt="not found">
      <ul class="list-group py-5 font-Roboto font-weight-bold">
        <li class="list-group-item">{{ service.name }}</li>
        <li class="list-group-item">Năm sinh: {{service.yob}}</li>
        <li class="list-group-item">Cao: {{service.height}}</li>
        <li class="list-group-item">Số điện thoại:{{service.phone}}</li>
        <li class="list-group-item">Mô tả: {{service.description}}</li>
        <li class="list-group-item">Số đo 3 vòng: {% for measurement in service.measurements %}
                                 {{ measurement }} {{ '-' if loop.index < 3}}
                                {% endfor %}</li>
        <li class="list-group-item ">Trạng thái: {% if service.status == True %} Rảnh <i class="far fa-smile text-success"></i>
                          {% elif service.status ==False %} Bận <i class="far fa-frown text-danger"></i>
                          {% endif %}</li>
        <li class="list-group-item ">
          <button type="button" class="btn btn-outline-success">
            <a href="{{ url_for('order', order_service_id = service.id)}}">Yêu cầu dịch vụ <i class="far fa-heart text-danger"></i></a>
          </button>
        </li>
      </ul>
    </div>



  </body>
</html>
