<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mùa đông không lạnh</title>
    {% include "metadata.html" %}
    <link rel="stylesheet" href="../static/css/detail.css">
  </head>
  <body>
    <div class="container bg-img-detail text-dark d-flex flex-column align-items-center py-5">
      <img src= "{{ service.image }}" alt="not found" width = 300 height =200 >
      <ul class="list-group py-5">
        <li class="list-group-item">{{ service.name }}</li>
        <li class="list-group-item">Năm sinh: {{service.yob}}</li>
        <li class="list-group-item">Cao: {{service.height}}</li>
        <li class="list-group-item">Số điện thoại:{{service.phone}}</li>
        <li class="list-group-item">Mô tả: {{service.description}}</li>
        <li class="list-group-item">Số đo 3 vòng: {% for measurement in service.measurements %}
                                 {{ measurement }} {{ '-' if loop.index < 3}}
                                {% endfor %}</li>
        <li class="list-group-item ">Trạng thái: {% if service.status == True %} Rảnh <i class="far fa-smile"></i>
                          {% elif service.status ==False %} Bận <i class="far fa-frown"></i>
                          {% endif %}</li>
        <li class="list-group-item ">
          <button type="button" class="btn btn-outline-success">
            <a href="{{ url_for('order', order_service_id = service.id)}}">Yêu cầu dịch vụ <i class="far fa-heart"></i></a>
          </button>
        </li>

      </ul>


    </div>

  </body>
</html>
