<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mùa đông không lạnh</title>
    {% include "metadata.html" %}
    <link rel="stylesheet" href="../static/css/homepage.css">
  </head>
  <body>
    <div class="">
      {% include "homepage/navigation.html" %}
      {% include "homepage/carousel.html" %}
      {% include "homepage/mission.html" %}
      {% include "homepage/customer-choice.html" %}
      {% include "homepage/services.html" %}
      <div class="bg-dark h-50px d-flex align-items-center justify-content-center">
        <h6 class = "text-light">Được thực hiện bởi Techkids</h6>
      </div>
    </div>


  </body>
</html>
