<div id ="customer-choice" class ="h-600px py-5">
  <h3 class = "text-light text-center">Khách hàng bình chọn</h3>
  <div class="d-flex h-250px flex-md-row flex-wrap justify-content-around">
    <img class = "img-w20-h200px" src="../../static/image/hand.jpg" alt="">
    <img class = "img-w20-h200px" src="../../static/image/lightning.jpg" alt="">
    <img class = "img-w20-h200px" src="../../static/image/rocks.jpg" alt="">
    <img class = "img-w20-h200px" src="../../static/image/steel.jpg" alt="">
  </div>
  <div class="d-flex h-250px flex-md-row flex-wrap justify-content-around">
    <img class = "img-w20-h200px" src="../../static/image/woods.jpg" alt="">
    <img class = "img-w20-h200px" src="../../static/image/rocks.jpg" alt="">
    <img class = "img-w20-h200px" src="../../static/image/steel.jpg" alt="">
    <img class = "img-w20-h200px" src="../../static/image/woods.jpg" alt="">
  </div>

</div>
