<div class="h-600px py-5">
  <h3 class= "text-center font-weight-bold">Các gói dịch vụ</h3>
  <div class="d-flex justify-content-between mt-5">
      <div class="card w-30 ">
        <h5 class="card-header text-light bg-lightgrey font-weight-bold">Gói cơ bản</h5>
        <div class="card-body">
          <h6 class="card-text">Dẫn bạn về ra mắt.</h6 >
          <h6  class="card-text">Ăn cơm cùng gia đình.</h6 >
          <h6  class="card-text text-secondary">Không nắm tay hay tiếp xúc dưới bất kỳ hình thức nào.</h6 >
          <h6 class="card-text text-secondary">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp.</h6 >
          <br>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <a href="#" class="btn btn-dark text-light"><i class="fas fa-heart mr-2"></i>Tìm hiểu thêm</a>
        </div>
      </div>

      <div class="card w-30">
        <h5 class="card-header text-light bg-secondary font-weight-bold">Gói tiêu chuẩn</h5>
        <div class="card-body">
          <h6 class="card-title">Dẫn bạn về ra mắt</h6>
          <h6 class="card-title">Ăn cơm cùng gia đình</h6>
          <h6 class="card-title">Cho phép nắm tay thể hiện quan tâm</h6>
          <h6 class="card-title text-secondary">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</h6>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <a href="#" class="btn btn-dark text-light"><i class="fas fa-heart mr-2"></i>Tìm hiểu thêm</a>
        </div>
      </div>

      <div class="card w-30">
        <h5 class="card-header text-light bg-dark font-weight-bold">Gói cao cấp</h5>
        <div class="card-body">
          <h6 class="card-title">Dẫn bạn về ra mắt</h6>
          <h6 class="card-title">Ăn cơm cùng gia đình</h6>
          <h6 class="card-title">Cho phép nắm tay thể hiện quan tâm</h6>
          <h6 class="card-title text-secondary">Bạn sẽ phụ giúp gia đình các công việc nấu nướng dọn dẹp</h6>
          <h6 class="card-title text-primary">Và nhiều ưu đãi bất ngờ khác</h6>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <a href="#" class="btn btn-dark text-light"><i class="fas fa-heart mr-2"></i>Tìm hiểu thêm</a>
        </div>
      </div>
  </div>

</div>
